@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200;12..96,300;12..96,400;12..96,500;12..96,600&display=swap');



:root {
  /* font-family: Helvetica, Arial,sans-serif; */
  font-family: 'Bricolage Grotesque', sans-serif;

  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background: rgb(255,137,79);
  background: linear-gradient(90deg, rgba(255,137,79,1) 0%, rgba(255,188,120,1) 35%, rgba(255,162,0,1) 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

h1 {
  margin: 0;
  padding: 0;
}

.drink-name {
  font-size: 32px;
  font-family: 'Bricolage Grotesque', sans-serif;
  font-weight: 600;

  width: 200px;
  border: none;

  background-color: rgba(255, 255, 255, 0);
  /* background-color: orange; */
}

.drink-desc {
  font-size: 20px;
  font-family: 'Bricolage Grotesque', sans-serif;
  font-weight: 600;

  width: 200px;
  border: none;

  background-color: rgba(255, 255, 255, 0);
}

.drink-addr {
  font-size: 20px;
  font-family: 'Bricolage Grotesque', sans-serif;
  font-weight: 600;

  width: 200px;
  border: none;

  background-color: rgba(255, 255, 255, 0);
}


.title-box {
  position: absolute;
  top: 0;
  left: 0;

  margin:40px;
  padding: 10px;

  /* color:white;
  background-color: rgb(255, 145, 0);; */

  /* border-radius: 8px; */

  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-box {
  position: absolute;
  top: 0;
  right: 0;

  margin:40px;
  padding: 10px;

  /* color:white;
  background-color: rgb(219, 82, 2);;

  border-radius: 8px; */

  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.box {
  margin:10px;
  color: rgb(13, 12, 36);

  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

}

.drink-box {
  /* DRINK BOX SIZE */
  width:220px;
}


.dB-content {
  padding: 10px;
  text-align: left;
}

.grid-row {
  display:flex;
  flex-wrap: wrap;
  max-width: 80vw;
  justify-content: center;
  align-items: center;
}

.dB-navbar {
  /* color: rgb(255, 255, 255);
  background-color: rgb(255, 151, 92); */

  display:flex;
  align-items: center;
  gap:8px;

  padding-left: 10px;
  padding-right: 10px;

  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.dB-navbar p {
  text-align:left;
  margin-right: auto;
  margin-top:2px;
  margin-bottom:2px;
}

.dB-navbar div {
  text-align: right;
}

.star-div {
  display: flex;
  justify-content: center;
}

.star {
  margin:0;
  padding:0;
}