@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');



:root {
  /* font-family: Helvetica, Arial,sans-serif; */
  font-family: 'DotGothic16', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #3d585e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

h1 {
  margin: 0;
  padding: 0;
}

.drinkBox {
  background-color: rgb(211, 206, 113);
  margin:10px;
  box-shadow: inset 2px 2px rgb(255, 223, 186), 2px 2px 0px 0px #5e3800;
}

.dB-content {
  padding: 10px;
  color: black;
  text-align: left;
}

.grid-row {
  display:flex;
}

.dB-navbar {
  box-shadow: inset 2px 2px rgb(255, 223, 186);
  color: rgb(255, 255, 255);
  background-color: rgb(186, 169, 63);

  display:flex;
  align-items: center;
  gap:8px;

  padding-left: 10px;
  padding-right: 10px;
}

.dB-navbar p {
  text-align:left;
  margin-right: auto;
  margin-top:2px;
  margin-bottom:2px;
}

.dB-navbar div {
  text-align: right;
}

.star-div {
  display: flex;
  justify-content: center;
}

.star {
  margin:0;
  padding:0;
}